.experience__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
}

.folded {
  display: none !important;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.experience__name {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 16px;
  font-size: 1rem;
}

.role {
  margin-right: 8px;
  font-size: 1.15rem;
  font-weight: bold;
}

.company {
  font-size: 1.15rem;
  font-weight: bold;
}

.descriptions {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.6;
  gap: 10px;
  width: 100%;
}

.description {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .experience__list {
    grid-template-columns: 1fr;
    gap: 35px 20px;
  }
}

@media screen and (max-width: 740px) {
  .experience__list {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .descriptions {
    font-size: 14px;
  }
  .description {
    font-size: 14px;
  }
}
