.container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  border-bottom: 3px solid black;
}

.container:hover .arrow {
  transform: rotate(90deg);
}
.arrow {
  transition: 0.4s ease-out;
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.title {
  margin-left: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    padding: 20px 15px;
  }
  .title {
    font-size: 20px;
  }
}
