.container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  border-bottom: 3px solid black;
}

.container:hover .arrow {
  transform: rotate(90deg);
}
.arrow {
  transition: 0.4s ease-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  margin-left: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.more__link {
  font-size: 14px;
  font-weight: bold;
  border: 2px solid black;
  padding: 6px 14px;
  background-color: black;
  color: #e7e2d0;
  transition: all 0.2s;
  text-transform: uppercase;
}

.more__link:hover {
  background-color: #e7e2d0;
  color: black;
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    padding: 20px 15px;
  }
  .title {
    font-size: 20px;
  }
  .more__link {
    font-size: 12px;
    padding: 4px 10px;
  }
}
