.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 3px solid black;
}

.left__row {
  flex: 1;
  padding: 20px 0px;
  border-right: 3px solid black;
}

.left__row:hover .about__arrow {
  transform: rotate(90deg);
}

.about__arrow {
  transition: 0.4s ease-out;
}

.about__headLine {
  padding: 30px;
  text-transform: uppercase;
}

.about__container {
  border-top: 3px solid black;
}

.about__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  margin: 0;
  border-bottom: 3px solid black;
  padding: 30px;
  display: flex;
  align-items: center;
}

.about__span {
  margin-left: 10px;
}

.about__p {
  font-size: 24px;
  font-weight: lighter;
  padding: 30px;
  text-transform: uppercase;
}

.right__row {
  flex: 1;
  padding: 20px 0px;
}

.skills__container:hover .icon {
  transform: rotate(90deg);
}
.icon {
  transition: 0.4s ease-out;
}

.right__row .skills__header {
  background-color: rgb(12, 12, 12);
  color: #e7e2d0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  gap: 12px;
  padding-left: 2rem;
}

.skill__first {
  padding: 0px 30px;
}

.icon {
  filter: invert(93%) sepia(8%) saturate(339%) hue-rotate(10deg) brightness(98%) contrast(90%);
  width: 20px;
  height: 20px;
}

.skills__content {
  padding: 0px 30px;
  border-bottom: 3px solid black;
}

.skills__p {
  padding: 30px 0px;
  font-size: 24px;
  font-weight: lighter;
}

.arrow__container {
  padding-top: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down__arrow {
  height: 100%;
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(211deg) brightness(102%) contrast(90%);
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .about__p {
    font-size: 16px;
    font-weight: lighter;
    padding: 20px;
  }

  .about__title {
    padding: 20px 10px;
    font-size: 24px;
  }

  .skills__header {
    background-color: rgb(12, 12, 12);
    color: #e7e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
  }

  .skills__content {
    padding: 0px;
    border-bottom: 3px solid black;
  }
  .skills__p {
    font-size: 16px;
    font-weight: lighter;
    padding: 20px;
  }
  .about__headLine {
    padding: 20px;
  }

  .skill__first {
    padding: 0px 10px;
  }
}
