.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.list {
  margin-top: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
  width: 100%;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
