.wrapper {
  display: flex;
  justify-content: center;
}

.list__container {
  display: flex;
  width: 1300px;
}

.folded {
  display: none !important;
}

.list {
  margin-top: 30px;
  padding: 0;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 3rem;
}

@media screen and (max-width: 1250px) {
  .list__container {
    padding: 0;
  }

  .list {
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 740px) {
  .container {
    padding: 20px 10px;
    font-size: 24px;
  }
}
