<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>문제 2 과제</title>
  </head>
  <body>
    <!-- 1 -->
    <a href="https://cs.knou.ac.kr" target="_blank">컴퓨터과학과</a>

    <!-- 2 -->
    <a href="https://www.knou.ac.kr" target="_blank">학생본인이름_학번</a>
    <iframe src="main.html" name="mainFrame" width="600" height="400"></iframe>

     <!-- 3. -->
    <footer>&reg; | &#x2661;</footer>

    <!-- 4-->
    <video controls poster="poster.jpg">
      <source src="movie.mp4#t=15,55" type="video/mp4" />
      지원되지 않는 브라우저입니다.
    </video>

    <!-- 5 -->
    <p style="background-color: red; font-weight: bold">붉은 배경에 텍스트가 굵게 표시됩니다.</p>
  </body>
</html>
