.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px 0px 60px;
}

.name__container {
  display: flex;
}

.first__name {
  padding-right: 30px;
}

.role_container {
  display: flex;
}

.front {
  padding-right: 30px;
}

.second__header {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
}

.contact {
  display: flex;
  align-items: center;
}

.find__me {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-decoration: underline;
}

.socials {
  list-style-type: none;
  display: flex;
}

.social {
  margin-right: 10px;
}

.button {
  padding: 0;
  border: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 40px;
  text-decoration: underline;
}
