.container {
  /* border-bottom: 3px solid black; */
}

.work__box {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.title {
  margin-left: 10px;
}

@media screen and (max-width: 1023px) {
  .work__box {
    padding: 20px 10px;
    font-size: 24px;
  }
}
