.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0px;
  flex-wrap: wrap;
  gap: 2em;
}

.project__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  max-width: 700px;
  flex-grow: 1;
}

.project__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  padding-top: 10px;
}

.project__name {
  margin: 0;
  background-color: black;
  color: #e7e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70px;
  text-align: center;
}

.project__img {
  min-height: 450px;
  -webkit-filter: grayscale(1.07);
  transition: all 1s;
}

.project__img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1.1);
}

.project__des {
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  padding: 0px 10px;
  margin: 10px 0px;
}

.project__p {
  padding: 10px 10px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
}

@media screen and (max-width: 1023px) {
  /* 모바일 */
  .projects {
    flex-direction: column;
    margin: 0;
  }

  .project__container {
    margin-bottom: 20px;
    width: 95%;
  }

  .project__img {
    min-height: auto;
  }
  .project__name {
    margin: 0;
    background-color: black;
    color: #e7e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 60px;
    text-align: center;
    font-size: 24px;
  }

  .project__name {
  }
}
