.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 30px;
}

.title {
  margin-left: 10px;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 2em;
  padding: 20px;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 20px 10px;
    font-size: 24px;
  }
}
